/*

Template: werkstatt

*/


body{
  font-family: 'freight-sans-pro', 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans';
  margin: 0;
  color: white;
  background-color: #fff;
}


.logo{
    width: 100%;
    position: relative;
    top: 33px;
    left: 56px;
    padding-bottom: 60px;
}

.logo > img {
  width: 155px;
}

.contenedor{
  font-family: 'freight-sans-pro', 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans';
  height: 60vh;
}

.right{
  font-size: 12px;
  /* margin-top: 94px; */
  margin-top: 6%;
  text-align: center;
}

.right a{
  color: #333;
  text-decoration: underline;
}

.right a:visited{
  color: #333;
  text-decoration: underline;
}

.right a:hover{

  text-decoration: none;
}

.secondTitle{
  font-size: 40px;
}


.highlight{
  color: #ff0023;
  margin-left: 10px;
}



svg{
  background:url('https://alguina.github.io/landing/assets/img/Alejandro_Herrero@1x.jpg');
  background-size:cover;
  width:15vmin; height:auto;
  display:block;
  position: absolute;
  right: 0;
  bottom: 0;


}
text{
  font-size:10px;
  transition:font-size .4s ease-out;
  font-weight:900;
  font-family:arial;
}
svg:hover text{
  transition:font-size .4s ease-in;
  font-size: 400px;
}

svg:hover{
  transition:height .4s ease-in;
  width:40vmin; height:40vmin;
}



@media only screen and (max-width: 667px) {
  .mainTitle{
    font-size: 40px;
  }
  .secondTitle{
    font-size: 40px;
  }
}
